/* 卷帘 */
.vertical-slider {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    background-color: #dadada;
    width: 6px;
    height: 100%;
	border-left:1px solid #848484;
	border-right:1px solid #848484;
    cursor: col-resize;
    z-index: 2;
}
.vertical-slider:hover {
	opacity:.75;
}
.vertical-slider .handle {
	width:24px;
	height:32px;
	margin:-16px 0 0 -12px;
	position:absolute;
	z-index:30;
	top:50%;
	left:50%;
	background-color:#dadada;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #848484;
	background-image:url(../images/vDrag.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.horizontal-slider {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    padding: 0;
	z-index:30;
    background-color: #dadada;
    width: 100%;
    height: 6px;
    cursor: row-resize;
}
.horizontal-slider:hover {
	opacity:.75;
}
.horizontal-slider .handle {
	width:24px;
	height:32px;
	margin:-16px 0 0 -12px;
	position:absolute;
	z-index:30;
	top:50%;
	left:50%;
	background-color:#dadada;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #848484;
	background-image:url(../images/hDrag.png);
	background-repeat:no-repeat;
	background-position:center center;
}
#windowsizeSlider {
	margin-top: 15px;
    margin-bottom: 15px;
}
.swipeView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border: 1px solid green;*/
    box-sizing: border-box;
    pointer-events: none;
    clip: rect(0, 10px, 10px, 0);
  }